.filter--component{
    background-color: #eff2eb;
    color: black;
    width:300px;
    height: 105px;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    z-index: 1;
    margin:20px 0;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filter--body{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    font-weight: 700;
    font-size: 1.3rem;
}

.filter--body.description{
    font-size: 1.1rem;
    color: #52555d;
    display: block;
    font-weight: 300;
    /*border: 0.5px solid lightgray;*/
    text-align: center !important;
}