#main--wrapper{
    background-image: url("../assets/images/maba.jpg");
    background-repeat: no-repeat;
    padding: 20px 0;
    background-size: contain;
}
#main--body{
    margin: 0 auto;
    width:98%;
    min-width: 850px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}
#submenu{
    background-color: #252933;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 3px;
    color:white;
    font-weight: 700;
    font-size: 1.4rem;
}

#submenu label{
    margin-right: 10px;
}

#submenu select{
    font-size: 1.3rem;
}

#submenu #submenu--serial{
    font-size: 1.2rem;
}
#submenu2 #modal-wrapper{
    width: 40%;
    height: 10vh;
    background-color: wheat;
}