#modal-wrapper{
    color: black;
    background-color: white;
    font-size: 1.3rem;
    z-index: 555;
    position: fixed;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    width:50%;
    padding: 10px 20px;
    border-radius: 10px;


}
#modal-container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    overflow-y: hidden;
    height: 100vh;
}